---
title: 'Live-API: ' Beschreibung der ersten Schritte: Erfahren Sie, wie Sie mit der Live-API beginnen.
parent: 'Working with the Live API'
---
 <h1>Diese Seite ist umgezogen - Sie werden weitergeleitet zum <a href="https://apis.support.brightcove.com/live-api/getting-started/index.html">neuen Ort</a> in 3 Sekunden. Bitte aktualisiere deine Lesezeichen!</h1>
<script type="text/javascript">
var t = setTimeout (Funktion () { window.location.href = 'https://apis.support.brightcove.com/live-api/getting-started/index.html'; }, 3000);
</script>
<style>
  .card-wrapper { justify-content: start; } .bcls-card h2 { font-size: 1rem; } .bcls-card ul { margin-left: -2.4em; }
</style>
<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Themen in {{ page.title }}</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>